# misc
.snakemake/
*.DS_Store
test.png
*.smbdelete*

analysis/multiqc/*
!analysis/multiqc/.keep
analysis/star/*
!analysis/star/.keep
analysis/trimmed_data/*
!analysis/trimmed_data/.keep
analysis/ref-gene-compare/*
analysis/fastq_screen/*

benchmarks/*
!benchmarks/.keep

bin/de-sweep-synthesis_*
bin/.de-sweep-synthesis*
bin/diffExp_*
bin/diffExp.*
bin/.diffExp*
bin/library*

deliverables/*
!deliverables/.keep

logs/*
!logs/runs/.keep
!logs/.keep

manuals/*

raw_data/*
!raw_data/.keep





STARmanual*
.Rproj.user
.RData
.Rhistory
