# misc
.snakemake/
*.DS_Store
test.png
*.smbdelete*

logs/*
!logs/runs/.keep
!logs/.keep

benchmarks/*
!benchmarks/.keep

raw_data/*
!raw_data/.keep

analysis/multiqc/*
!analysis/multiqc/.keep
analysis/star/*
!analysis/star/.keep
analysis/trimmed_data/*
!analysis/trimmed_data/.keep


deliverables/*
!deliverables/.keep

tmp/*

STARmanual*
.Rproj.user
.RData
.Rhistory

bin/diffExp_*
bin/.diffExp.html*
